.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37 {
  stroke: #707070;
}

.cls-1,
.cls-2,
.cls-38,
.cls-6,
.cls-7,
.cls-10,
.cls-11,
.cls-18,
.cls-21,
.cls-27,
.cls-39,
.cls-40,
.cls-34,
.cls-41,
.cls-35,
.cls-36,
.cls-37 {
  stroke-miterlimit: 10;
}

.cls-1,
.cls-2,
.cls-5,
.cls-7,
.cls-8,
.cls-42,
.cls-13,
.cls-15,
.cls-16,
.cls-23,
.cls-24,
.cls-25,
.cls-27 {
  stroke-width: 3px;
}

.cls-1,
.cls-8,
.cls-10,
.cls-11 {
  fill: #707070;
}

.cls-2,
.cls-3,
.cls-38,
.cls-5,
.cls-42,
.cls-9,
.cls-14,
.cls-18,
.cls-19,
.cls-29,
.cls-39,
.cls-40,
.cls-34,
.cls-41,
.cls-37 {
  fill: none;
}

.cls-3,
.cls-4,
.cls-5,
.cls-8,
.cls-42,
.cls-9,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-43 {
  stroke-linejoin: round;
}

.cls-3,
.cls-4,
.cls-5,
.cls-8,
.cls-42,
.cls-9,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-19,
.cls-20,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-43,
.cls-34 {
  stroke-linecap: round;
}

.cls-3,
.cls-12,
.cls-26,
.cls-30 {
  stroke-width: 4px;
}

.cls-4,
.cls-11,
.cls-14,
.cls-20,
.cls-21,
.cls-22,
.cls-28,
.cls-31,
.cls-33,
.cls-43,
.cls-36 {
  stroke-width: 5px;
}

.cls-4,
.cls-23,
.cls-26 {
  fill: #ddd;
}

.cls-44,
.cls-13,
.cls-21,
.cls-33,
.cls-43,
.cls-35 {
  fill: #fff9e1;
}

.cls-38 {
  stroke: #ffdede;
}

.cls-38,
.cls-40 {
  stroke-width: 40px;
}

.cls-6 {
  fill: #ff9d00;
}

.cls-7,
.cls-25,
.cls-30,
.cls-31,
.cls-36,
.cls-45 {
  fill: #ffcfcf;
}

.cls-42 {
  stroke: #ffcfcf;
}

.cls-9 {
  stroke-width: .5px;
}

.cls-12 {
  fill: #ffd28a;
}

.cls-46,
.cls-15,
.cls-17,
.cls-28,
.cls-32 {
  fill: #fff;
}

.cls-16 {
  fill: #d4efc5;
}

.cls-18,
.cls-34 {
  stroke-width: 6px;
}

.cls-19,
.cls-32,
.cls-37 {
  stroke-width: 7px;
}

.cls-22,
.cls-24,
.cls-27,
.cls-47 {
  fill: #ffbc5a;
}

.cls-48 {
  fill: #f8feff;
}

.cls-39 {
  stroke: #f2e9ff;
  stroke-width: 18px;
}

.cls-40,
.cls-43 {
  stroke: #fff9e1;
}

.cls-41 {
  stroke: #e7ffe1;
  stroke-width: 25px;
}