      .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10 {
        fill: none;
      }

      .cls-1, .cls-4, .cls-6, .cls-7, .cls-8, .cls-9, .cls-11, .cls-10 {
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-6, .cls-8 {
        stroke-width: 30px;
      }

      .cls-1, .cls-9 {
        stroke: #e7ffe1;
      }

      .cls-12 {
        fill: #fff;
      }

      .cls-2, .cls-3, .cls-5, .cls-13, .cls-14, .cls-15 {
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .cls-2, .cls-3, .cls-11, .cls-10 {
        stroke: #707070;
      }

      .cls-2, .cls-11 {
        stroke-width: 5px;
      }

      .cls-16 {
        fill: #5b5b5b;
      }

      .cls-3, .cls-5, .cls-13, .cls-14, .cls-15, .cls-10 {
        stroke-width: 7px;
      }

      .cls-4 {
        stroke-width: 25px;
      }

      .cls-4, .cls-8 {
        stroke: #f2e9ff;
      }

      .cls-5, .cls-13, .cls-14, .cls-15 {
        stroke: #cecece;
      }

      .cls-13 {
        fill: #fffffa;
      }

      .cls-6 {
        stroke: #ffdede;
      }

      .cls-14 {
        fill: #f3fcff;
      }

      .cls-7 {
        stroke: #fff9e1;
      }

      .cls-7, .cls-9 {
        stroke-width: 40px;
      }

      .cls-15 {
        fill: #fff9e1;
      }

      .cls-11 {
        fill: #ffcfcf;
      }
